<%= render partial: "layouts/header"%>
  <section id="banner">
    <div class="container">
      <div class="row">
      <div class="col-md-12">


<h2>Sign up</h2>

<h3>User Details</h3>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<% resource.build_company %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <h3>Company Details</h3>
  <%= f.fields_for :company do |x|%>
     <div><%= x.label :name %><br />
  <%= x.text_field :name %></div>

  <div><%= x.label :address %><br />
  <%= x.text_field :address %></div>
     <% end %>
  <div><%= f.submit "Sign up" %></div>
<% end %>

        </div>
      </div>
    </div>
  </section>


<%= render partial: "layouts/footer"%>